body{
    font-family: "Montserrat";
    text-align: center;
}

h1 {
    font-weight: bolder;
    padding: 2%;
    text-align: center;
}

/* --------Title--------*/

#title {
    background-color: transparent;
    color: #000;
    text-align: center;
}

.container-fluid{
    padding: 0% 0% 0%;
}

.title-image {
    width: 100%;
}

/* --------Nevigation bar --------*/

.navbar {
    top: 0;
    padding: 1.5rem 2rem;
    background-color: whitesmoke;
    margin-top: 0px;
}

.logo {
    width: 15%;
    margin: 0%;
    padding: 0%; 
}

.navbar-item{
    padding: 0rem 1rem;
    font-weight:700;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: lighter;
}


/* our_product */

#our_product {
    background-color: whitesmoke;
    padding: 5% 8%;
    
}

.op_img {
    width: 100%;
    margin: 3%;
}

.op_img:hover {
    transform: scale(1.5);
    transition: transform .5s ease;
    border: 1px solid black;
}

.op_imge {
    width: 100%;
    margin: 3%; 
}

.d-grid {
    margin-top: 3%;
}


/* About Us */

#about_us {
    background-color: white;
    padding: 5% 10% 5%;
    text-align: left;
}

.para {
    font-family: Ubuntu;
    font-weight: bolder;
}

/* .sub_para {
    font-size: 15;
} */

/* Contact US */

#contact_us {
    padding: 3% 0% 3%;
    font-family: montserrat;
    background-color: whitesmoke;

}

.deco_none {
    font-size: 1.25rem;
    text-decoration: none;
    color: blue;
}


/* copyright */
#copyright {
    background-color: yellowgreen;
    font-family: montserrat;
    font-size: 1rem;
    padding: 1rem;
}

.c_big {
    font-size: 1.5rem;
}

/* hot deals */
#hot_deals {
    padding: 5% 12%;
}

#deals {
    padding: 3% 8%;
    /* margin: 5%; */
}

.carousel {
    padding: 2%;
    /* margin: 5%; */
}

.collaps-img {
    width: 100%;
}

.more-img {
    width: 100%;
    margin: 1%;
}

/* footer */
.footer {
    padding: 1.5rem 2rem;
    background-color: whitesmoke;
    margin-top: 0px;
    text-align: center;
}

.follow_img {
    margin: 2%;
}
